<!DOCTYPE html>

<html>
   
  <body>   
    
    <element name="x-new-page" constructor="NewPage" extends="div" apply-author-styles>  
      
      <template>
        
        <div class="modal-backdrop">
        </div>
          
        <div class="modal">
        
          <div class="modal-header">
            <button type="button" class="close" on-click="close()" aria-hidden="true">&times;</button>
            <h3>New Page</h3>
          </div>
          
          
          <div class="form-horizontal">
            
            <div class="modal-body">
              
              <div class="control-group">
                <label class="control-label" for="form-newpage-title">
                  Page title
                </label>
                <div class="controls">
                  <input type="text" id="form-newpage-title" name="form-newpage-title" bind-value="title" required>
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="form-newpage-content">
                  Text body
                </label>
                <div class="controls">
                  <input type="textarea" id="form-newpage-content" name="form-newpage-content" bind-value="content">
                </div>
              </div>
            
            </div> <!-- modal-body end -->
              
            <div class="modal-footer">
              <button class="btn" on-click="close()">Close</button>
              <button class="btn btn-primary" on-click="submit()">Submit</button>
            </div>
            
          </div>
          
        </div>     
        
      </template> 
      
      <script type="application/dart" src="new_page.dart"></script>
    
    </element>
  
  </body>

</html>
